<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="test" value ="esto es una lectura de fichero"/>
		<add key ="ruta" value ="C:\\Users\\Chema\\Desktop\\DAM 2º\\Acceso a datos\\creacionApi\\APICalle\\text.xml"/>
		<add key ="rutapizza" value=" C:\Users\Chema\Desktop\DAM 2º\Acceso a datos\creacionApi\APICalle\testpizza.xml"/>
	</appSettings>
</configuration>